<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static "images/Estate.png" %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        img{width: 300px;height: 200px;}
        h1{color: white;background-color: red;line-height: 50px;text-align: center;font-size: 40px}
        h1:hover{background-color: aqua}
    </style>
    
</head>
<body>
<h1>Homepage</h1>
<a href="{% url 'about' %}" class="btn btn-primary ">About</a>
<a href="{% url 'form' %}" class="btn btn-success ">Form</a>
<p>Here are some of the wild animals yuo know.</p>
<img src="{% static 'images/lion.jpeg' %}" alt="">
<img src="{% static 'images/cheetah.jpeg' %}" alt="">
<img src="{% static 'images/zebra.jpeg' %}" alt="">
<img src="{% static 'images/tiger.jpeg' %}" alt="">
<br><br>
<h1>Payment.</h1>
<p class="paragraph2"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at esse magnam recusandae soluta. Aliquam assumenda doloribus incidunt nisi reprehenderit? Asperiores, dolore esse illum magni nesciunt numquam omnis repellendus voluptatum.</span><span>Eos, repudiandae tenetur. Corporis iste laboriosam placeat reiciendis rerum sapiente, soluta veritatis. Aliquam distinctio doloribus ducimus eos iste nostrum quaerat quas quo sapiente sint? Aperiam hic itaque repellendus tempora veniam.</span></p>
<img src="{% static 'images/lion.jpeg' %}" alt="" id="image">
</body>
</html>